@page "/patients"

@using Data

@inject EpiKourosContext dbContext

<PageTitle>Patients</PageTitle>

<h1>Patients</h1>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true"
    PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    Data="@patients" TItem="Patient" LogicalFilterOperator="LogicalFilterOperator.And">
    <Columns>
        <RadzenDataGridColumn TItem="Patient" Property="Id" Title="ID" />
        <RadzenDataGridColumn TItem="Patient" Property="RoomName" Title="Room" />
        <RadzenDataGridColumn TItem="Patient" Property="BedId" Title="Bed" />
        <RadzenDataGridColumn TItem="Patient" Property="PatName" Title="Patient" />
        <RadzenDataGridColumn TItem="Patient" Title="Sex">
            <Template Context="data">
                @if (data.Sex == "Άρρεν")
                {
                    <span><i class="bi bi-gender-male"></i></span>
                }
                else
                {
                    <span><i class="bi bi-gender-female"></i></span>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Patient" Property="InDate" Title="Admission" />
        <RadzenDataGridColumn TItem="Patient" Title="" Filterable=false Sortable=false
            TextAlign=Radzen.TextAlign.Center>
            <Template Context="data">
                <a href="@($"monitor/{data.Id}")"><i class="bi bi-display"></i></a>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
@code {
    IEnumerable<Patient> patients;

    protected override void OnInitialized()
    {
        patients = dbContext.Beds;
    }
}
